{% assign projects = site.data.projects | default: site.projects %}
{% unless projects %}
  {% if site.repository and site.github.public_repositories %}
    {% assign projects = site.github.public_repositories
      | sort: 'stargazers_count'
      | reverse
      | where: 'fork', false
    %}
  {% else %}
    {% assign projects = '' | split: ',' %}
  {% endif %}
{% endunless %}
{% assign project_count = projects | size %}
{% assign project_limit = site.side_bar_repo_limit | default: 5 | plus: 0 %}
{% if project_count > 0 and project_limit > 0 %}
  <div class='sidebar-popular-repo'>
    <h3 class='sidebar-title'>热门仓库</h3>
    {% for repo in projects limit: project_limit %}
      <div class='card'>
        {% include project-card.html repo=repo %}
      </div>
    {% endfor %}
  </div>
{% endif %}
